useDynLib(robustscale, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(scale_robust)
export(get_consistency_constant)
export(cpp_scale_gmd)
export(cpp_scale_mad)
export(cpp_scale_iqr)
export(cpp_scale_sn)
export(cpp_scale_qn)
export(cpp_scale_sd_c4)
export(cpp_scale_ensemble)
